name: Deploy AtScale POC

on:
  workflow_dispatch:
    inputs:
      client_id:
        description: "Unique name so you don't collide with anyone else"
        required: true
      region:
        description: "Azure region"
        required: false
        default: "eastus"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy AtScale
        uses: franklapolito/atscale-deploy-action@main
        with:
          client_id: ${{ inputs.client_id }}
          region: ${{ inputs.region }}
          azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ssh_public_key: ${{ secrets.ATSCALE_SSH_PUBLIC_KEY }}
          ssh_private_key: ${{ secrets.ATSCALE_SSH_PRIVATE_KEY }}
